<h1>All Pets for <%= @owner.email %></h1>
<hr>
<% @owner.pets.each do |pet| %>

<p><%=link_to "#{pet.name}", pet_path(pet.id) %></p>
<% end %>
<p><%=link_to "New Pet", new_owner_pet_path(@owner.id) %></p>
